#header {
	width: 100%;
}

.title-name{
  color: #FFABCE;
  margin: 0;
  padding: 16px 16px;
  font-size: 25px;
  /* text-shadow: 0.3px 1px 2px #7a7a7a; */
  display: inline-block;
}

.bg-is-pink .title{
  background-color: #ffed4f;
  color: #f79cc2f5;
  transition-duration: 0.7s;
}

.menu-btn{
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFABCE;
  vertical-align: middle;
}

.menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #555;
}
.menu-item{
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

/* アニメーション前のメニューの状態 */
.menu{
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s linear;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
  pointer-events: auto;
  opacity: 1;
}

.menu-btn.active{
  pointer-events: auto;
  opacity: 1;
  animation:0.5s linear 1 active;
  animation-fill-mode: forwards;
}

@keyframes active{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(90deg); }
}
